body{

    background-image: url(journeyss.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#stopwatch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(100, 100, 255);
    text-align: center;

    width: clamp(250px, 70vw, 1000px);
    height: clamp(120px, 30vh, 400px);

    border: clamp(3px, 0.5vw, 8px) solid rgb(100, 100, 255);
    border-radius: clamp(20px, 2vw, 30px);

}
#stopwatch{
    font-family: monospace;
    font-size: clamp(3rem, 10vw, 12rem);
}
#change-settings-container{
    display: flex;
    justify-content: center;
    gap: 2vw;              /* spacing scales */
    flex-wrap: wrap; 
}
#stopwatch-settings button{
    font-family: monospace;
    padding: clamp(2px, .5vw, 10px) clamp(10px, 1vw, 20px);

    font-size: clamp(0.5rem, 2vw, 1rem);

    border-radius: clamp(6px, 1vw, 20px);
    border: clamp(2px, 0.3vw, 5px) solid rgb(176, 176, 255);
    background-color: rgb(227, 227, 255);
}
#stopwatch-settings button:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 255);
}
#stopwatch-settings button:active{
    border: clamp(2px, 0.3vw, 5px) inset rgb(218, 218, 255);
    background-color: rgb(208, 208, 255);
}
.app{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  gap: 2vh; /* proportional spacing */
}
#change-settings-container a{
    font-family: monospace;
    padding: clamp(5px, 1.2vw, 20px) clamp(14px, 2vw, 40px);

    font-size: clamp(0.9rem, 1.5vw, 1.8rem);

    border-radius: clamp(6px, 1vw, 20px);
    text-decoration: none;

}
a{
    text-decoration: none;

}
a:visited{
    text-decoration: none;
    color: black;
}

#change-to-stopwatch{
    background-color: rgb(208, 208, 255);
    border: clamp(3px, 0.3vw, 5px) inset rgb(218, 218, 255);
    cursor: pointer;
}
#change-to-digital-clock{
    background-color: rgb(227, 227, 255);
    border: clamp(3px, 0.3vw, 5px) solid rgb(176, 176, 255);
}
#change-to-timer{
    background-color: rgb(227, 227, 255);
    border: clamp(3px, 0.3vw, 5px) solid rgb(176, 176, 255);
}
#change-to-digital-clock:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 255);
}
#change-to-timer:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 255);
}
#change-settings-container a:active{
    border: clamp(3px, 0.3vw, 5px) inset rgb(218, 218, 255);
    background-color: rgb(208, 208, 255);
}


#lap-table{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
    background-color: rgb(255, 248, 238);

    width: clamp(300px, 40vw, 1000px);
    height: clamp(100px, 5vh, 400px);

    overflow: auto;
    
    
    border-radius: 5px;
}
#table-header{
    background-color: antiquewhite;
}
.lap-row{
    display: flex;
    width:100%;
    align-self: center;
}

.lap-row > *{
  flex:1;
  text-align:center;   /* centers text */

}